ZT_API_KEY=change-me
ZT_OIDC_ENABLED=false
ZT_OIDC_ISSUER_URI=http://localhost:8089/realms/zt
ZT_RATE_LIMIT=120
DB_URL=jdbc:postgresql://localhost:5432/zt
DB_USERNAME=zt
DB_PASSWORD=zt
REDIS_HOST=localhost
REDIS_PORT=6379
OTEL_METRICS_EXPORT_ENABLED=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
